<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.laudhoot">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.location.Location"
        android:required="true" />

    <application
        android:name=".Laudhoot"
        android:allowBackup="false"
        android:configChanges="orientation|keyboardHidden"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.activity.InitializationActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"/>
        <activity
            android:name=".view.activity.ViewShoutActivity"
            android:label="@string/title_activity_view_shout"
            android:parentActivityName=".view.activity.MainActivity"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.laudhoot.view.activity.MainActivity" />
        </activity>
        <activity
            android:name=".view.activity.PostShoutActivity"
            android:label="@string/title_activity_post_shout"
            android:parentActivityName=".view.activity.MainActivity"
            android:windowSoftInputMode="stateAlwaysVisible|adjustNothing">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.laudhoot.view.activity.MainActivity" />
        </activity>
        <activity
            android:name=".view.activity.UserShoutsActivity"
            android:label="@string/title_activity_user_shout"
            android:parentActivityName=".view.activity.MainActivity"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.laudhoot.view.activity.MainActivity" />
        </activity>
        <activity
            android:name=".view.activity.ContactUsActivity"
            android:label="@string/title_activity_contact_us"
            android:parentActivityName=".view.activity.MainActivity"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.laudhoot.view.activity.MainActivity" />
        </activity>

        <meta-data
            android:name="AA_DB_NAME"
            android:value="laudhoot_test.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="0" />

    </application>

</manifest>
